@use "@angular/material" as mat;
@use "./palettes";
@use "./utils";

$dark-theme-color-config: (
  primary: mat.define-palette(palettes.$primary-palette, 700, 300, 900),
  accent: mat.define-palette(palettes.$accent-palette),
  warn: mat.define-palette(palettes.$warn-palette),
);

$extra-color-config: (
  success: mat.define-palette(palettes.$success-palette),
);

$dark-theme: mat.define-dark-theme(
  (utils.get-theme-config($dark-theme-color-config))
);

$patched-theme: utils.patch-color-config($dark-theme, $extra-color-config);

@include utils.create-theme-bundle($patched-theme);
